:root {
    --clr-primary: 25, 97%, 53%;
    --clr-white: 0, 0%, 100%;
    --clr-light-grey: 217, 12%, 63%;
    --clr-medium-grey: 216, 12%, 54%;
    --clr-dark-blue: 213, 19%, 18%;
    --clr-very-dark-blue: 216, 12%, 8%;
    --clr-gradient-black: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%); 
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    font-family: 'Overpass', sans-serif;
    background: hsl(var(--clr-very-dark-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding-block: 1em;
    text-align: left;
}

p {
    padding-block-end: .75em;
}

.container {
    color: hsl(var(--clr-white));
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20.4375rem;
    height: 22.5rem;
    background: var(--clr-gradient-black);
    padding-inline: 2em;
}

.rating {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.rating > a {
    display: flex;
    text-decoration: none;
    border: 2px solid red;
    padding: 0 .85em;
    border-radius: 50%;
    position: relative;
    place-items: center;
    aspect-ratio: 1;
}

.button {
    width: 100%;
    background: hsl(var(--clr-primary));
    border: none;
    color: hsl(var(--clr-white));
    border-radius: 100px;
    text-transform: uppercase;
    padding: .65em;
}

.thank-you-container {
    display: none;
}

@media (min-width: 1440px) {

}